* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato';
}

/* header section styles start from here */
header {
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    padding: 0px 250px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0px;
}

.header-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
}

.header-right {
    padding-top: 126px;
}

/* flower section start from here */
.flower-container {
    height: 85vh;
    padding: 70px 250px;
}

.flower-main-container {
    display: flex;
    justify-content: space-between;
}

.flower-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 15px;
}

.flower-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0px;
}

.three-card-container {
    width: 444px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 48px;
}

.three-card-container-2 {
    width: 444px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.three-card-container-3 {
    width: 444px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 48px;
}

.card-image {
    height: 428px;
    width: 310px;
}

.card-image-2 {
    height: 370px;
    width: 370px;
    padding-top: 117px;
}

.card-title {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-left: 150px;
    padding-top: 15px;
}

/* some day delivery section start from here */
.some-day-container {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 20px 0px 90px 250px;
    display: flex;
    justify-content: space-between;
}

.some-main-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.some-box {
    margin-left: 180px;
}

.some-box-title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

/* hot deal section start from here */
.hot-deal-container {
    height: 50vh;
    background: rgba(229, 84, 115, 0.05);
    padding: 0px 350px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-title-red {
    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    margin: 24px;
}

.hot-deal-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
}